/* Lutherinh0 */

.id-63939634 > .badge-box > i.bdg {
  background-image: url("http://i.imgur.com/fKqzgIz.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-63939634 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("http://i.imgur.com/fKqzgIz.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Daria */

.id-13955057 > .badge-box > i.bdg {
  background-image: url("http://im.ezgif.com/tmp/ezgif-3255340617.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-13955057 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("http://im.ezgif.com/tmp/ezgif-3255340617.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Artur */

.id-10542387 > .badge-box > i.bdg {
  background-image: url("http://i.imgur.com/yawBN1j.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-10542387 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("http://i.imgur.com/yawBN1j.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Kamil */

.id-9092608 > .badge-box > i.bdg {
  background-image: url("http://i.imgur.com/QIqgQu5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-9092608 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("http://i.imgur.com/QIqgQu5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Ja */

.id-16427133 > .badge-box > i.bdg {
  background-image: url("http://i.imgur.com/VCfxQ2S.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-16427133 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("http://i.imgur.com/VCfxQ2S.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Paulina */

.id-10607990 > .badge-box > i.bdg {
  background-image: url("http://i.imgur.com/uesjWnB.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-10607990 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("http://i.imgur.com/uesjWnB.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Nevcio */

.id-6615469 > .badge-box > i.bdg {
  background-image: url("http://i.imgur.com/EHRCnKH.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-6615469 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("http://i.imgur.com/EHRCnKH.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Serce obok nicku */

.id-10764385 > .msg > .from:before,
.id-10607990 > .msg > .from:before,
.id-6315115 > .msg > .from:before,
.id-10828076 > .msg > .from:before,
.id-8817701 > .msg > .from:before,
.id-13955057 > .msg > .from:before,
.id-6462179 > .msg > .from:before {
  content: url("https://i.imgur.com/Ev9MdsC.png") !important;
  float: left;
  margin: 0px 3px 0px 0px;
}
