/* Dawid */

.id-16427133 > .badge-box > i.bdg,
#chat-messages .fromID-16427133 .bdg {
  background-image: url("https://i.imgur.com/VCfxQ2S.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

#user-rollover.id-16427133 .badge-box > i.bdg {
  border-radius: 6px !important;
  background-image: url("https://i.imgur.com/VCfxQ2S.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}


/* Lutherinh0 */

.id-63939634 > .badge-box > i.bdg,
#chat-messages .fromID-63939634 .bdg {
  background-image: url("https://i.imgur.com/fKqzgIz.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-63939634 .badge-box se> i.bdg {
  border-radius: 6px;
  background-image: url("https://i.imgur.com/fKqzgIz.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Daria */
 .user id-13955057 role-cohost is-staff {
   color: #17fefe;
   
}

.id-13955057 > .badge-box > i.bdg,
#chat-messages .fromID-13955057 .bdg {
  background-image: url("https://i.imgur.com/41lbMGX.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

#user-rollover.id-13955057 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://i.imgur.com/41lbMGX.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}


/* Artur */

.id-10542387 > .badge-box > i.bdg,
#chat-messages .fromID-10542387 .bdg {
  background-image: url("https://i.imgur.com/yawBN1j.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-10542387 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://i.imgur.com/yawBN1j.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Kamil */

.id-9092608 > .badge-box > i.bdg,
#chat-messages .fromID-9092608 .bdg {
  background-image: url("https://i.imgur.com/QIqgQu5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-9092608 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://i.imgur.com/QIqgQu5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Paulina */

.id-10607990 > .badge-box > i.bdg,
#chat-messages .fromID-10607990 .bdg {
  background-image: url("https://i.imgur.com/uesjWnB.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-10607990 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://i.imgur.com/uesjWnB.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Nevcio */

.id-6615469 > .badge-box > i.bdg,
#chat-messages .fromID-6615469 .bdg {
  background-image: url("https://i.imgur.com/EHRCnKH.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#user-rollover.id-6615469 .badge-box > i.bdg {
  border-radius: 6px;
  background-image: url("https://i.imgur.com/EHRCnKH.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Serce obok nicku */

.id-10764385 > .msg > .from:before,
.id-10607990 > .msg > .from:before,
.id-6315115 > .msg > .from:before,
.id-10828076 > .msg > .from:before,
.id-8817701 > .msg > .from:before,
.id-13955057 > .msg > .from:before,
.id-6462179 > .msg > .from:before {
  content: url("https://i.imgur.com/Ev9MdsC.png") !important;
  float: left;
  margin: 0px 3px 0px 0px;
}
